<h1><%= @user.email %></h1>

<h3><%= pluralize(@user.reviews.count, "Review") %> | <%= @user.average_rating %>/5 Average Rating</h3>

<h3>Reviews:</h3>

<% @user.reviews.each do |review| %>
<%= review.group_class.name %> at <%= review.studio %><br>
<%= review.rating %>/5 "<%= review.content %>" <br>
- <%= link_to review.user.email, user_path(review.user) %> <%= button_to "Delete", review_path(review), method: :delete, data: { confirm: 'Are you sure?' } if current_user == review.user %><br></br>
<% end %>

<%#= render(@reviews) || "There are no reviews yet!" %>
