<h2>Add a category to <%= link_to @group_class.name, group_class_path(@group_class) %></h2>

<%= form_for @group_class do |f| %>
Pick some categories<br>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
Or add a new one<br>
<%= f.fields_for :categories, @group_class.categories.build do |cat_fields| %>
  <%= cat_fields.label :name %>
  <%= cat_fields.text_field :name %>
  <% end %><br>
  <%= f.submit %>
<% end %>
