<h1><%= link_to @gc.studio.name, studio_path(@gc.studio) %></h1>

<%= render partial: 'group_class', locals: {gc: @gc} %>

<h4>Users said:</h4>
<div class="gc_reviews">
  <%= render(@reviews) || "There are no reviews yet!" %>
</div>


<!-- handlebars template for this  -->
<!-- <div class="reviewResult">
  <span id="reviewRating"></span>/5 "<span id="reviewContent"></span>" <br>
  - <span id="reviewUser"></span> <%#= button_to "Delete", review_path(review), method: :delete, data: { confirm: 'Are you sure?' } if current_user == review.user %><br></br>
</div> -->


<% if current_user %>
  <strong>Add a review:</strong>
  <%= form_for(@review, :url => studio_group_class_path(@gc.studio, @gc)) do |f| %>
    <%= f.label "Rate this class (1-5)" %>
    <%= f.number_field :rating, in: 1...6 %><br>
    <%= f.label "What did you think?" %>
    <%= f.text_area :content %><br>
    <%= f.hidden_field :group_class_id, :value => @gc.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %><br>
  <% end %>
<% end %>
