<%= render 'group_class' %>

<% if @group_class.reviews.first %>
  <%= @group_class.average_rating %>/5 Average Rating | <%= pluralize(@group_class.reviews.count, "Review") %><br></br>

  <h4>Users said:</h4>
  <% @group_class.reviews.each do |review| %>
    <%= review.rating %>/5 "<%= review.content %>" <br>
    - <%= review.user.email %> <%= button_to "Delete", review_path(review), method: :delete, data: { confirm: 'Are you sure?' } if current_user == review.user %><br></br>
  <% end %>
<% else %>
  There are no reviews yet for this class!
<% end %>

<%= link_to "Leave a review", new_review_path if current_user %>
