<h2>Leave a review</h2>

<%= form_for @review do |f| %>
  <%= f.label "Which class did you take?" %>
  <%= f.collection_select :group_class_id, @group_classes, :id, :name, prompt: :true %><br>
  <%= f.label "Rate this class (1-5)" %>
  <%= f.number_field :rating, in: 1...6 %><br>
  <%= f.label "What did you think?" %>
  <%= f.text_field :content %><br>
  <%= f.submit %><br>
<% end %>
