<div class='custom'>
  <h1>Studios in <%= current_city.name %></h1>

  <% @studios.each do |studio| %>
    <div><h3><%= link_to studio.name, studio_path(studio) %> - <%= studio.street_address %></h3>
      Group Classes: <%= studio.class_list %><br>
    </div><br></br>
  <% end %>

  Don't see the studio or class you're looking for?
  <% if current_user %>
    Add a studio <%= link_to "here", new_studio_path %>.
  <% else %>
    <%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add a studio or class.
  <% end %>
</div>
