<div class='custom'>
  <h1>Add a new studio in <%= current_city.name %>:</h1>

  <% if @studio.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h3>

      <ul>
      <% @studio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @studio do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %><br>
    <%= f.hidden_field :city_id, value: @current_city.id %><br>
    <%= f.submit %>
  <% end %>
</div>
