<div class="container form-group">
  <h1>Add a new studio:</h1>

  <% if @studio.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h3>

      <ul>
      <% @studio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @studio do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %><br>
    <%= f.label :street_address %>
    <%= f.text_field :street_address, class: "form-control" %><br>
    <%= f.label :city_id %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %><br></br>
    <%= f.submit "Add Studio", class: "btn btn-default" %>
  <% end %>
</div>
