<h1><%= @studio.name %> - <%= @studio.city.name %></h1>
<h2><%= @studio.street_address %></h2>
<%= link_to "Leave a review", new_review_path if current_user %>

<br>

<% @studio.group_classes.each do |gc| %>
  <h4><%= link_to gc.name, group_class_path(gc) %> | <%= gc.duration %> minutes</h4>
  <%= gc.list_categories %> | <%= gc.average_rating %>/5 Average | <%= gc.review_count %> reviews<br></br>
  <% if gc.reviews.best_review %>
    <%= gc.reviews.best_review.rating %>/5 "<%= gc.reviews.best_review.content %>" <br>
    - <%= gc.reviews.best_review.user.email %><br></br>
  <% end %>
<% end %>
