<div class="static">
  <h1><%= link_to @studio.name, studio_path(@studio) %> - <%= link_to current_city.name, root_path %></h1>
  <h2><%= @studio.street_address %></h2>
</div>

<div id="main">
  <% if current_user %>
    <%= link_to "Leave a review", new_review_path %> | <%= link_to "Add a class", new_studio_group_class_path(@studio) %><br>
  <% end %>

  <% if @studio.group_classes.first %>
    <% @studio.group_classes.each do |gc| %>
      <%= render partial: "group_classes/group_class", locals: {gc: gc} %>
      <% if gc.reviews.first %>
        <%= render partial: "reviews/review", locals: {review: gc.best_review} %>
      <% else %>
        There are no reviews yet!
      <% end %>
    <% end %>
  <% else %>
      This studio doesn't have any classes listed yet. Be the first to add a class and leave a review!
  <% end %>

  <script id="gc-show-template" type="text/x-handlebars-template">
    <article>
      <h1>{{name}}</h3>
      <h4>{{duration}} minutes</h4>
      {{#if reviews.length}}
        {{#each reviews}}
          <p>{{rating}}/5 "{{content}}"<br>
          - <a href={{user.id}}>{{user.email}}</a>
          <!-- watch avi's video on proper templating of below action -->
        <!-- <form class="button_to" method="post" action="/reviews/27"><input type="hidden" name="_method" value="delete" /><input data-confirm="Are you sure?" type="submit" value="Delete" /><input type="hidden" name="authenticity_token" value="veIXmFJSsYjdcwRUWlVU7XrDoOH8/jfg+92BxTJLnZbKXp33+m7GtqWZBy1unVYJjkGOU0hURBuH9ApYyRB0hQ==" /></form><br></br></p> -->
        {{/each}}
      {{else}}
        <p>There are no reviews yet!</p>
      {{/if}}
    </article>
  </script>
</div>
