<% if current_user %>
Signed in as <%= current_user.email %>
<%= link_to "Leave a Review", new_review_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
<% else %>
    <h4><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to leave a review </h4>
<% end %>
<%= link_to "Change City", root_path %>
