<!DOCTYPE html>
<html>
  <head>
    <title>Move</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <%= yield %>

    <hr>

    <div class="container">
      <footer>
        <p>&copy; 2017 J. Francis</p>
      </footer>
    </div>
    
  </body>
</html>
