<!DOCTYPE html>
<html>
  <head>
    <title>Move</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
